.card {
    border: none;
    border-radius: .25rem;
    padding: 0;
    /* margin-left: 0.5rem;
    margin-right: 0.5rem; */
    margin: 1rem;
    background-color: transparent;
    cursor: pointer;
    image-rendering: pixelated;
}


.card:hover{
    outline: 2px solid white;
}